/vendor/
node_modules/

npm-debug.log
yarn-error.log

# Laravel
bootstrap/compiled.php
app/storage/

public/storage
public/hot
public_html/storage
public_html/hot

# Storage / secrets
storage/*.key
.env
.env.backup
.env.production

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit
.phpunit.result.cache

# Laravel build files
/public/build
/storage/pail

# PHP tools
.phpactor.json
auth.json